<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2060},{692,172}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{692,172}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{692,172}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{692,172}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2272},{692,170}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{692,170}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2234},{692,170}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{692,170}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2100},{692,170}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{692,170}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2444},{692,168}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{692,168}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2406},{692,168}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{692,168}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2614},{692,166}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{692,166}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2576},{692,166}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{692,166}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2206},{692,166}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,67},{692,166}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2418},{362,300}}</string>
                <key>offset</key>
                <string>{-160,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{362,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2116},{398,300}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{398,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,606},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,304},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting14.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{692,284}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{692,284}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting16.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,908},{692,238}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{692,238}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting17.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1148},{692,186}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,58},{692,186}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{692,184}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{692,184}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting19.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1336},{692,184}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{692,184}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1814},{436,300}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{436,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{692,184}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{692,184}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1512},{692,182}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,60},{692,182}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{692,180}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{692,180}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting23.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1522},{692,180}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{692,180}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting24.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1704},{692,178}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,62},{692,178}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{692,176}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{692,176}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting26.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1884},{692,174}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,65},{692,174}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1512},{472,300}}</string>
                <key>offset</key>
                <string>{-106,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{472,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1210},{508,300}}</string>
                <key>offset</key>
                <string>{-87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{508,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,908},{546,300}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{546,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,606},{582,300}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{582,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,304},{620,300}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{620,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{656,300}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{656,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>shoting9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{692,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{692,300}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shotlight.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6204691a30249687c3209eed729bba4:1/1$</string>
            <key>textureFileName</key>
            <string>shotlight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
